################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PM-piggybank1/v17
/.vs/PM-piggybank1/FileContentIndex
/.vs
