{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>account</title>
    <style>
      .progress-bar-container {
        width: 100%;
        background-color: #f3f3f3;
      }

      .progress-bar {
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: white;
      }

      .progress-bar.negative {
        background-color: red;
      }

      .progress-bar:not(.negative) {
        background-color: #4caf50;
      }

      .sub-button {
        width: 188px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to your piggy bank {{kid_name}}!</h1>
    <p>Meter Value: ${{ meter_value|floatformat:2 }}</p>

    <!-- Form to submit and add 1 dollar or 25 cents to the meter -->
    <form method="post" action="">
      {% csrf_token %}
      <button type="submit" name="add_ten_dollar">
        <img
          src="{% static 'img/ten.jpg' %}"
          alt="Add Ten Dollars"
          width="172"
          height="75"
        />
      </button>
      <button type="submit" name="add_five_dollar">
        <img
          src="{% static 'img/abe.png' %}"
          alt="Add Five Dollars"
          width="172"
          height="75"
        />
      </button>
      <button type="submit" name="add_dollar">
        <img
          src="{% static 'img/singles.jpg' %}"
          alt="Add One Dollar"
          width="172"
          height="75"
        />
      </button>
      <button type="submit" name="add_quarter">
        <img
          src="{% static 'img/quarter.jpg' %}"
          alt="Add 25 cents"
          width="75"
          height="75"
        />
      </button>
      <br />
      <button type="submit" name="subtract_ten_dollar" class="sub-button">
        Subtract $10 from Meter
      </button>
      <button type="submit" name="subtract_five_dollar" class="sub-button">
        Subtract $5 from Meter
      </button>
      <button type="submit" name="subtract_dollar" class="sub-button">
        Subtract $1 from Meter
      </button>
      <button type="submit" name="subtract_quarter" class="sub-button">
        Subtract 25¢ from Meter
      </button>
      <br /><br />
      <button type="submit" name="reset_meter">Reset Meter</button>

      <!-- Input field for the goal amount -->
      <p>
        Enter Goal Amount: $<input
          type="number"
          name="goal_amount"
          step="0.01"
          placeholder="0.00"
          value="{{ goal_amount }}"
        />
      </p>

      <!-- Progress bar container -->
      <div class="progress-bar-container">
        <!-- Progress bar (will dynamically elongate based on the percentage of the goal achieved) -->
        <div
          class="progress-bar {% if progress_percentage < 0 %}negative{% endif %}"
          style="width: {{ progress_percentage }}%;"
        >
          {{ progress_percentage }}%
        </div>
      </div>
    </form>
  </body>
</html>
